<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<meta name="viewport" content="width=device-width, initial-scale=1">

<style type="text/css">
	@media screen and (min-width: 601px) {
  p.improve {
  	margin-left: 240px;
  	margin-right: 240px;
    font-size: 28px;
  }
}
@media screen and (max-width: 600px) { 
	}
</style>

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>

<div class="row">

	<div class="col-lg-6 col-sm-6">
	<form method="POST" enctype="multipart/form-data">
           <div class="form-group">
           
           </div>
           <div class="form-group">
            <!-- <center><button type="submit" class="btn btn-light btn-round px-5" name="submit" value="submit"><i class="icon-lock"></i>Check Your Previous Purchases</button></center> -->
            <br>
            <input type="file" class="custom-file" name="upload" style="width: 50%">
          
            <center><button type="submit" class="btn btn-light btn-round px-5" name="upload" value="Upload"><i class=""></i>Click to fetch data</button></center>
            <br>
           <!--  <center><h3>Name:{{name}}</h3></center>
            <center><h3>Fathers Name:{{father}}</h3></center>
            <center><h3>Panc card No.:{{pancard}}</h3></center>
            <center><h3>DOB:{{datee}}</h3></center> -->
          </div>
  
          </form>	
	</div>
	<div class="col-lg-5 ">
		<form method="POST">
			<center><h3>Details fetch from pancard</center></h3>
  <div class="form-group row">
    <label for="staticEmail" class="col-sm-4 col-form-label" style="width: 10%;">Name</label>
    <div class="col-sm-7">
      <input type="text"  class="form-control-plaintext" id="staticEmail" value="{{name}}">
    </div>
  </div>
   <div class="form-group row">
    <label for="staticEmail" class="col-sm-4 col-form-label">Father's Name</label>
    <div class="col-sm-8">
      <input type="text"  class="form-control-plaintext" id="staticEmail" value="{{father}}">
    </div>
  </div>
   <div class="form-group row">
    <label for="staticEmail" class="col-sm-4 col-form-label">Pan card No.:</label>
    <div class="col-sm-8">
      <input type="text"  class="form-control-plaintext" id="staticEmail" value="{{pancard}}">
    </div>
  </div>
   <div class="form-group row">
    <label for="staticEmail" class="col-sm-4 col-form-label">DOB:</label>
    <div class="col-sm-8">
      <input type="text"  class="form-control-plaintext" id="staticEmail" value="{{datee}}">
    </div>
  </div>
  <button type="submit" name="upload" value="next" class="btn btn-primary" >Next</button>
</form>
	</div>
</div>






<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
</html>